html, body {
    height: 100%;
}

.table-container {
    display: table;
    height: 100%;
    width: 100%;
}

.table-block {
    display: table-row;
    height: 1px;
}

.footer-push {
    height: auto;
}

#footer {

}

.message {
    border-bottom: 1px solid #ccc;
}

.message:last-child {
    border-bottom: none;
}
